.popup {
  right: 0px;
  top: 0;
  position: absolute;
  left: 25px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.1);
}

.popup-inner {
  width: 50%;
  min-height: 12.5%;
  background: #fdba74;
  position: absolute;
  border: 2px solid #fdba74;
  box-shadow: 0 0 0 4px #854d0e;
}

.popup-inner__center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1em 0;
}

.popup-inner__center h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
}
.popup-inner__center p {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}
